/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

:root {
  --color-main: rgb(197, 79, 0);
  --bg-main: rgb(226, 220, 195);
  --p: 259 94% 51%;
  --pf: 259 94% 41%;
  --sf: 314 100% 38%;
  --af: 174 60% 41%;
  --nf: 219 14% 22%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --pc: 0 0% 100%;
  --s: 314 100% 47%;
  --sc: 0 0% 100%;
  --a: 174 60% 51%;
  --ac: 175 44% 15%;
  --n: 219 14% 28%;
  --nc: 0 0% 100%;
  --b1: 0 0% 100%;
  --b2: 0 0% 95%;
  --b3: 180 2% 90%;
  --bc: 215 28% 17%;
}

/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-[#f7f9f8];
}

/* body {
  background: var(--bg-main);
} */

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (min-width: 768px){
  .aside-left {
      overflow-y: auto;
      padding-right: 14px;
  
    }
}


.widget {
box-shadow: 0px 1.84091px 2.30114px rgba(0, 0, 0, .05),
  0px 4.60227px 18.4091px rgba(0, 0, 0, .05);
background: #e9e9e9;
padding: 1.5rem;
}

.rounded-30 {
  border-radius: 3rem;
}

.main-menu {
  padding-bottom: 15px;
}


.form-control {
  font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.1;
    display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;
}

.text-max {
  font-size: 3.25rem;
}
@media (min-width: 768px) {
.text-max {
    font-size: 6rem;
  }
}


@media (min-width: 760px) {
  .text-max { 
    font-size: 4rem
  }
}

.table :where(th, td) {
  white-space: nowrap;
    vertical-align: middle;
    padding: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.table :where(thead, tfoot) :where(th, td) {
  --tw-bg-opacity: 1;
    background-color: #d1e2eb;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.table :where(th, td) {
  white-space: nowrap;
  vertical-align: middle;
  padding: 1rem;
}

.table :where(tbody th, tbody td) {
  --tw-bg-opacity: 1;
  background-color: #ffffff;
}
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: fit-content;
  padding-left: 0.563rem;
  padding-right: 0.563rem;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;

  border-width: 1px;

  border-radius: 1.9rem;
}
.badge-ghost {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: #d1e2eb;

}

.badge-sm {
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 0.438rem;
  padding-right: 0.438rem;
}

.table:where(:not(.table-zebra)) :where(thead, tbody, tfoot) :where(tr:not(:last-child) :where(th, td)) {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: #cfcfcf
}
.btn {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1em;
  min-height: 3rem;
  font-weight: 600;
  text-transform: var(--btn-text-case, uppercase);
  text-decoration-line: none;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--n)/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--nc)/var(--tw-text-opacity));
  border-color: hsl(var(--n)/var(--tw-border-opacity));
  border-radius: var(--rounded-btn, 0.5rem);
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
}


.btn-ghost {
  background-color: transparent;
  color: currentcolor;
  border-width: 1px;
  border-color: transparent;
}

.btn-xs {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 1.5rem;
  font-size: 0.75rem;
}

.btn:hover,
.btn-active {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--nf, var(--n))/var(--tw-bg-opacity));
  border-color: hsl(var(--nf, var(--n))/var(--tw-border-opacity));
}

.btn-ghost:hover,
.btn-ghost.btn-active {
  --tw-border-opacity: 0;
  background-color: hsl(var(--bc)/var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.react-tabs__tab {
  text-transform: uppercase;
      line-height: 1.25;
          padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.5rem;
              padding-right: 1.5rem;
             
              border-bottom: 2px solid black;
}

.title-text {
  line-height: 1;
}

.border-main {
      border-color: rgba(0, 0, 0, .1);
      border-style: solid;
      border-right-width: 2px;
        border-top-width: 2px;
          border-bottom-width: 2px;
}

.border-outer {
        border-color: rgba(0, 0, 0, .1);
          border-style: solid;
        
}

    .grid-item:nth-child(odd)
     {
      border-left-width: 2px;
    }
  
    .grid-item:nth-child(1),
    .grid-item:nth-child(2),
    .grid-item:nth-child(3),
    .grid-item:nth-child(4) {
      border-bottom: 1
    }

@media (min-width: 768px) {
  .grid-item:nth-child(1),
    .grid-item:nth-child(5) {
      border-left-width: 2px;
    }
  
    .grid-item:nth-child(1),
    .grid-item:nth-child(2),
    .grid-item:nth-child(3),
    .grid-item:nth-child(4) {
      border-bottom: 1
    }
}
  

    .sidebar-img img {
      /* padding: 2px; */
      border-radius: 5px;
      background: var(--bg-main);
    }

    